/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
    
        display: flex;
        align-items: center;
        justify-content:flex-start;
    }
    main {
        background-color: #f6f5f3;
        padding: 40px;
        min-height: calc(100vh - 70px);
    }

    .recipe-name {
        color: #4e3969;
        font-weight: 800;
        font-size: 2rem;
    }

    .recipe-origin {
        display:inline-block;
    }

    .social-networks button {
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        padding: 10px 50px ;
    }

    .ads {
        display:block;
        margin: 30px auto;
    }

    .presentation img {
        max-width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        float: left;
        margin-right: 10px;
    }
}