/* Soluzione qui */
@media screen and (min-width: 768px) {
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
    
        display: flex;
        align-items: center;
        justify-content:flex-start;
    }
    main {
        background-color: #f6f5f3;
        padding: 40px;
        min-height: calc(100vh - 70px);
    }

    .recipe-name {
        color: #4e3969;
        font-weight: 800;
        font-size: 2rem;
    }

    .recipe-origin {
        display:inline-block;
    }
}